* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: RecoletaRegular;
  overflow: hidden;
}

@font-face {
  font-family: "RecoletaRegular";
  src: url("../assets/fonts/Recoleta/woff/Recoleta Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#game {
  display: flex;
  margin: 0 auto;
}
